<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Usuario</title>
</head>
<body>
  <div>
    <p>
      <mat-toolbar class="MenuBarClients font">
        <a href="http://localhost:4200/User/inicio" style="text-decoration: none; color: #1E1E1E;"><span class="marginLogo">TradersLm</span></a>
      </mat-toolbar>
    </p>    
  </div>
  <mat-grid-list cols="1" rowHeight="600px">
    <mat-grid-tile>
      <div class="inputCenter">
        <div class="btnExit">
            <button mat-icon-button  onclick="location.href='http://localhost:4200/User/inicio'">
                <mat-icon>reply</mat-icon>
            </button>
        </div>
        <div class="alignCenter font">
          <u style="color: #1e1e1eae;">Crear Peticion</u><u style="color: #D0C9D0">ㅤㅤㅤ ㅤㅤㅤㅤㅤㅤㅤㅤㅤ</u>
        </div>
        <div class="alignCenter">
          <form (submit)="crearPeticion()">
              <mat-form-field  appearance="outline" [style.width.px]=430>
                  <mat-label>Oficio trader</mat-label>
                  <mat-select required [(ngModel)]="peticion.Oficio" name="oficio">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let oficio of oficios" [value]="oficio" >{{oficio}}</mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" [style.width.px]=430>
                  <mat-label>Detalles de la Peticion</mat-label>
                  <input type="text" matInput required [(ngModel)]="peticion.Description" name="descripcion">
              </mat-form-field>  
              <mat-form-field appearance="outline" [style.width.px]=430>
                <mat-label>Direccion</mat-label>
                <input type="text" matInput required [(ngModel)]="peticion.Location" name="direccion">
              </mat-form-field>    
              <mat-form-field appearance="outline" [style.width.px]=430>
                  <mat-label>Pago $</mat-label>
                  <input type="number" matInput name="pago" required [(ngModel)]="peticion.Precio" min="150" max="100000">
              </mat-form-field> 
              <mat-form-field  appearance="outline" [style.width.px]=430>
                  <mat-label>Fecha y hora</mat-label>
                  <input matInput type="datetime-local" [(ngModel)]="peticion.FechaHora" name="fechaHora">
              </mat-form-field><br>
            <button mat-button class="btn-client" style="margin-left: 8px;">Siguiente</button>
          </form>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</body>
</html>