<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Traders</title>
</head>
<body>
  <div>
    <p>
      <mat-toolbar class="MenuBarTrader font">
        <span class="marginLogo">TradersLm</span>
      </mat-toolbar>
    </p>    
  </div>
  <mat-grid-list cols="1" rowHeight="3:1">
    <br><br>
    <mat-grid-tile>
      <div class="inputCenterPeticiones">
        <div class="alignCenter2 font4"><br><br>
          <span>Peticiones disponibles</span>
        </div>
        <div class="alignCenter3">
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
                  {{shoe}}
                </mat-list-option>
              </mat-selection-list>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</body>
</html>