<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Usuario</title>
</head>
<body>
  <div>
    <p>
      <mat-toolbar class="MenuBarClients font">
        <span class="marginLogo">TradersLm</span>
      </mat-toolbar>
    </p>    
  </div>
  <mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile>
      <div class="inputCenter2">
        <div class="alignCenter font">
            <br>
          <span>Iniciar Sesion</span>
          <br>
        </div>
        <div class="alignCenter font2">
          <u style="color: #1D56CF;">Usar numero de telefono</u><u style="color: #D0C9D0">ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</u>
        </div>
        <div class="alignCenter">
          <form (submit)="Login()">
            <mat-form-field  appearance="outline">
                <mat-label>Pais</mat-label>
                <mat-select [disabled]="true">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let pais of paises" [value]="pais">{{pais}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Numero de telefono</mat-label>
                <input matInput #numtel type="tel" maxlength="10" min="10" placeholder="6688778877" required [(ngModel)]="user.Telefono" name="telefono">
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-hint align="end">{{numtel.value.length}} / 10</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" required [(ngModel)]="user.Password" name="passowrd" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>        
          <br>
          <button mat-button class="btn-client" style="margin-left: 2px;">Siguiente</button>  
        </form>
        </div>
        <div class="alignCenter font2">
          <u style="color: #1D56CF;">No tienes cuenta?</u>
          <a href="http://localhost:4200/User/registrarUser" style="text-decoration: none;">
            <u style="color: #B4A8AA">, crear una nueva cuenta</u>
          </a>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</body>
</html>