<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Usuario</title>
</head>
<body>
  <div> 
        <mat-toolbar class="MenuInicioClients font">
            <a href="http://localhost:4200/User/inicio" style="text-decoration: none; color: #1E1E1E;"><span class="marginLogo">TradersLm</span></a>
            <button mat-button style="margin-left: 20px;">Pedidos</button>
            <div style="align-items: right;">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>Configuracion</span>
                  </button>
                  <button mat-menu-item (click)="authService.cerrarSesionUser()">
                    <mat-icon>home</mat-icon>
                    <span>Cerrar sesion</span>
                  </button>
                </mat-menu>
            </div>
        </mat-toolbar>
  </div>
  <mat-grid-list cols="2" rowHeight="800px">
    <mat-grid-tile>
      <div>
        <p class="font3">Necesitas ayuda en <br><br>algo?, pide Traders</p>
        <br>
        <p>
          <button mat-raised-button class="button-user-index" onclick="location.href='http://localhost:4200/User/crearPeticion'">Hacer peticion</button>
        </p>
        <br><br>
        <p class="font3">Te interesa <br><br>completar una <br><br> peticion?</p>
        <br>
        <p>
          <button mat-raised-button class="button-trader-index" onclick="location.href='http://localhost:4200/User/verPeticiones'">Ver peticiones</button>
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile > 
      <mat-tab-group dynamicHeight style="background-color: #f9f7fad7; border-radius: 8px;">
        <mat-tab label="Ofertas a tus peticiones">
          <div class="example-small-box mat-elevation-z4">
            Small content
          </div>
        </mat-tab>
        <mat-tab label="Historial de peticiones">
          <div class="example-large-box mat-elevation-z4">
            Large content
          </div>
        </mat-tab>
        <mat-tab label="Status de ofertas a peticiones">
          <div class="example-small-box mat-elevation-z4">
            Small content
          </div>
        </mat-tab>
        <mat-tab label="Historial de peticiones">
          <div class="example-large-box mat-elevation-z4">
            Large content
          </div>
        </mat-tab>
      </mat-tab-group>   
    </mat-grid-tile>
  </mat-grid-list>
</body>
</html>