<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Usuario</title>
</head>
<body>
  <div>
        <mat-toolbar class="MenuInicioClients font">
            <a href="http://localhost:4200/User/inicio" style="text-decoration: none; color: #1E1E1E;"><span class="marginLogo">TradersLm</span></a>
            <mat-accordion style="padding-left: 90px">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Direccion
                    </mat-panel-title>
                    <mat-panel-description style="padding-left: 90px">
                        <mat-icon>room</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <mat-form-field appearance="fill">
                    <mat-label>Ingresa tu direccion</mat-label>
                    <input matInput type="text">
                  </mat-form-field> 
                </mat-expansion-panel>
            </mat-accordion>
            <button mat-button>Pedidos</button>
            <div style="align-items: right;">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>Configuracion</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>home</mat-icon>
                    <span>Cerrar sesion</span>
                  </button>
                </mat-menu>
            </div>
        </mat-toolbar>
  </div>
  <mat-grid-list cols="2" >
    <mat-grid-tile>     
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <p class="font3">Necesitas ayuda en <br><br>algo?, pide Traders</p>
        <br>
        <p>
          <button mat-raised-button class="button-user-index">Hacer peticion</button>
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</body>
</html>