<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <p>
      <mat-toolbar class="MenuBarTrader font">
        <a href="http://localhost:4200/User/inicio" style="text-decoration: none; color: #F9F7FA;"><span class="marginLogo">TradersLm</span></a>
        <button mat-button style="margin-left: 20px">Pedidos</button>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                <span>Configuracion</span>
              </button>
              <button mat-menu-item onclick="location.href='http://localhost:4200/User/login'">
                <mat-icon>home</mat-icon>
                <span>Cerrar sesion</span>
              </button>
            </mat-menu>
        </div>
      </mat-toolbar>
    </p>   
  </div>
  <mat-grid-list cols="1" rowHeight="850px">
    <mat-grid-tile>
      <div class="inputCenterPeticiones">
        <div class="btnExit">
          <button mat-icon-button  onclick="location.href='http://localhost:4200/User/inicio'">
              <mat-icon>reply</mat-icon>
          </button>
      </div>
        <div class="alignCenter3 font4"><br><br>
          <span>Peticiones disponibles</span>
        </div>
        <div class="alignCenter3">
          <div class="mat-elevation-z8">
            <table>
              <tr>
                <th>Descripcion</th>
                <th>Id del cliente</th>
                <th>Ubicacion</th>
                <th>Oficio</th>
                <th>Precio</th>
                <th>Fecha y hora</th>
                <th>Ofertar</th>
              </tr>
              <tr *ngFor="let item of peticiones">
                  <td>
                    {{item.Description}}                   
                  </td>
                  <td>
                    {{item.IDUserClient}}
                  </td>
                  <td>
                    {{item.Location}}
                  </td>
                  <td>
                    {{item.Oficio}}
                  </td>
                  <td>
                    {{item.Precio}}
                  </td>
                  <td>
                    {{item.FechaHora}}
                  </td>
                  <td>
                    <form>
                      <div>
                        <input type="number" [name]="item._id" required  min="150" max="100000" [(ngModel)]="oferta.Oferta">
                        <button mat-button (click)="ofertarPeticion(item.Precio,item._id)" 
                        style="background-color:#1D56CF; color: #F9F7FA; margin-left: 10px;">Ofertar</button>
                      </div>
                    </form>
                  </td>    
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</body>
</html>
